@mixin complaint-logger-login($theme) {
    $foreground: map-get($theme, foreground);

    .complaint-logger-login {
        position: relative;
        height: 100vh;

        .login-form {

            width: 100%;
            max-width: 37.5rem;
            margin: auto;
            border: 1px solid mat-color($foreground, divider);
            border-radius: 4px;
            padding: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            mat-form-field {
                width: 100%;
            }

            .mat-title {
                text-align: center;

                figure {
                    width: 100px;
                    margin: auto;

                    caption {
                        display: block;
                        font-size: 1.8rem;
                    }
                }
            }

            .actions {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

}