// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@import 'iv-viewer/dist/iv-viewer.css';
@import './scss/mixins';
@import './scss/apply-theme';
@import './scss/utils';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$complaint-logger-primary: mat-palette($mat-light-green);
$complaint-logger-accent: mat-palette($mat-light-blue);

// The warn palette is optional (defaults to red).
$complaint-logger-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$complaint-logger-theme: mat-light-theme($complaint-logger-primary,
  $complaint-logger-accent,
  $complaint-logger-warn);

@include apply($complaint-logger-theme);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($complaint-logger-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.iv-image-view {
  background: #dddddd;
}