<div class="complaint-logger-complaints-list">
    <div class="mat-title flex flex-align-items-center">Your Complaints <button [routerLink]="['../raise']"
            routerLinkActive="router-link-active" color="warn" mat-button>
            <mat-icon>add</mat-icon> Add new
        </button></div>
    <mat-tab-group (selectedIndexChange)="tabChanged($event)">
        <mat-tab label="Pending ({{pendingComplaintsCount}})">
            <div class="pending-complaints">
                <div class="complaint" *ngFor="let complaint of pendingComplaints">
                    <ng-container [ngTemplateOutlet]="complaintTemplate"
                        [ngTemplateOutletContext]="{$implicit:complaint}"></ng-container>
                </div>
            </div>
            <div class="pending-pagination">
                <mat-paginator (page)="pendingPageChanged($event)" [length]="pendingComplaintsCount"
                    [pageSize]="pageOptions.pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>

        </mat-tab>
        <mat-tab label="Resolved ({{resolvedComplaintsCount}})">
            <div class="resolved-complaints">
                <div class="complaint" *ngFor="let complaint of resolvedComplaints;let complaintIndex=index;">
                    <ng-container [ngTemplateOutlet]="complaintTemplate"
                        [ngTemplateOutletContext]="{$implicit:complaint,resolved:true,complaintIndex:complaintIndex}">
                    </ng-container>
                </div>
            </div>
            <div class="resolved-pagination">
                <mat-paginator (page)="resolvedPageChanged($event)" [length]="resolvedComplaintsCount"
                    [pageSize]="pageOptions.pageSize" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #complaintTemplate let-complaint let-resolved="resolved" let-complaintIndex="complaintIndex">
    <div class="complaint__header">
        <div class="complaint__header-department">
            {{complaint.department?.name}}
        </div>
        <div class="complaint__header-location">
            {{complaint.building?.label}} - {{complaint.room}}

        </div>
        <div class="complaint__header-created-at">
            <!-- {{complaint.building?.name}} -->
            {{complaint.createdAtFromNow}}
        </div>
    </div>
    <div class="complaint__body">
        {{complaint.description}}
    </div>
    <div class="complaint__id">
        Complaint ID: {{complaint._id}}
    </div>
    <mat-divider></mat-divider>
    <div class="complaint__status flex flex-justify-content-space-between">
        <div class="complaint__status-assigned-to">
            Assigned to: <span>{{complaint.assignedTo?complaint.assignedTo?.name:'Not assigned'}}</span>
            <a *ngIf="complaint.assignedTo?.mobile" href=tel:{{complaint.assignedTo?.mobile}}>
                <mat-icon>call</mat-icon>
            </a>
            <img *ngIf="complaint.assignedTo" (click)="openImage(complaint.assignedTo.image)"
                [src]="complaint.assignedTo.image.src">
        </div>
        <div class="complaint__close" *ngIf="resolved">
            <button color="warn" mat-button (click)="closeComplaint(complaint,complaintIndex)">Close</button>
        </div>
    </div>
    <div class="technician-remarks">
        <div class="resolution-comments">
            <div class="mat-subtitle">Comment History</div>
            <mat-divider></mat-divider>
            <div class="comment" *ngFor="let comment of complaint.comments">
                {{comment.by}}: {{comment.description}}
            </div>
            <div class="new-comment"
                *ngIf="(complaint.status === ComplaintStatus.Resolved && complaint.canReopen) || complaint.status === ComplaintStatus.Pending">
                <textarea #commentDescription
                    [placeholder]="!resolved?'Add new comment':'Not fixed yet ? Add comment to reopen'"></textarea>
                <mat-icon
                    (click)="addComment(complaint,commentDescription, resolved?ComplaintStatus.Pending:undefined, complaintIndex)">
                    add</mat-icon>
            </div>
            <mat-divider></mat-divider>
        </div>
    </div>
</ng-template>