@mixin complaint-logger-dashboard-complaints-list($theme) {
    $accent: map-get($map: $theme, $key: accent);
    $primary: map-get($map: $theme, $key: primary);
    $foreground: map-get($map: $theme, $key: foreground);

    .complaint-logger-complaints-list {
        .complaint {
            margin: 0.5rem 0;
            border: 1px solid mat-color($foreground, divider);
            border-radius: 4px;


            &__header {
                display: flex;
                padding: 0.5rem;
                justify-content: space-between;
                align-items: center;
                background: mat-color($accent);
                color: mat-color($accent, default-contrast);

                &>* {
                    padding: 0 0.25rem;
                }
            }

            &__body {
                padding: 1rem;
            }

            &__id {
                padding: 0.5rem 1rem;
                font-size: 0.75rem;
                color: mat-color($foreground, disabled-text);

            }

            &__status {
                padding: 0.5rem 1rem;
                font-size: 0.75rem;
                color: mat-color($foreground, disabled-text);

                &-assigned-to {
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px;
                    }

                    mat-icon {
                        font-size: 1rem;
                        margin: 0 0.5rem;
                        display: flex;
                        align-items: center;
                        color: mat-color($primary);
                        cursor: pointer;
                    }
                }
            }

            .technician-remarks {
                padding: 0 0.5rem 0.5rem;


                .resolution-comments {
                    padding: 0 0.5rem;
                    font-size: 0.75rem;

                    // color: mat-color($foreground, disabled-text);
                    .comment {
                        padding: 0.25rem 0;

                    }

                    .new-comment {
                        margin-top: 0.5rem;

                        textarea {
                            border: none;
                            border-bottom: 2px solid mat-color($foreground, divider);
                            min-width: 30%;
                            background: transparent;
                        }

                        mat-icon {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .resolved-complaints {
            .complaint {
                &__header {
                    background: mat-color($primary);
                    color: mat-color($primary, default-contrast);
                }
            }
        }
    }
}