<div class="app-complaints-list" *ngIf="(tabChangeEvent | async) as selectedTabIndex">
    <div class="mat-title">Your Complaints</div>
    <mat-tab-group (selectedIndexChange)="tabChangeEvent.next($event + 1)">
        <mat-tab label="Pending">
            <div class="pending-complaints" *ngIf="(pending$ | async) as pendingComplaints">
                <div class="complaint" *ngFor="let complaint of pendingComplaints.complaints">
                    <ng-container [ngTemplateOutlet]="complaintTemplate"
                        [ngTemplateOutletContext]="{$implicit:complaint}">
                    </ng-container>
                </div>
            </div>
            <div class="pending-pagination" *ngIf="(pendingPagination | async) as paginationInfo">
                <mat-paginator (page)="pendingPageChanged($event)" *ngIf="(pending$ | async) as pendingComplaints"
                    [length]="pendingComplaints.count" [pageSize]="paginationInfo.pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>

        </mat-tab>
        <mat-tab label="Resolved">
            <div class="resolved-complaints" *ngIf="(resolved$ | async) as resolvedComplaints">
                <div class="complaint" *ngFor="let complaint of resolvedComplaints.complaints">
                    <ng-container [ngTemplateOutlet]="complaintTemplate"
                        [ngTemplateOutletContext]="{$implicit:complaint}">
                    </ng-container>
                </div>
            </div>
            <div class="resolved-pagination" *ngIf="(resolvedPagination | async) as paginationInfo">
                <mat-paginator (page)="resolvedPageChanged($event)" *ngIf="(resolved$ | async) as resolvedComplaints"
                    [length]="resolvedComplaints.count" [pageSize]="paginationInfo.pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #complaintTemplate let-complaint>
    <div class="complaint__header">
        <div class="complaint__header-department">
            {{complaint.department?.name}}
        </div>
        <div class="complaint__header-location">
            {{complaint.building?.label}} - {{complaint.room}}
        </div>
        <div class="complaint__header-created-at">
            {{complaint.createdOffset}}
        </div>
    </div>
    <div class="complaint__body">
        {{complaint.description}}
    </div>
    <mat-divider></mat-divider>
    <div class="complaint__status">
        <div class="complaint__status-assigned-to">
            <a *ngIf="!complaint.selectAssignee" (click)="complaint.selectAssignee = true">Assigned to:
                <span>{{complaint.assignedTo?complaint.assignedTo?.name:'Not assigned'}}</span>
            </a>
            <div class="employee-search" *ngIf="complaint.selectAssignee">
                <mat-form-field>
                    <input type="text" matInput placeholder="Search employee"
                        [formControl]="complaint.employeeSearchControl" [matAutocomplete]="auto">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="complaint.selectAssignee = false">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="complaint.employeeSelected">
                    <mat-option *ngFor="let employee of complaint.employees | async" [value]="employee">
                        {{employee.name}} {{employee.mobile}}
                    </mat-option>
                </mat-autocomplete>
            </div>
            <a class="call" *ngIf="complaint.assignedTo?.mobile" href=tel:{{complaint.assignedTo?.mobile}}>
                <mat-icon>call</mat-icon>
            </a>
        </div>
        <div class="complaint__status-raised-by">
            <a (click)="complaint.selectAssignee = true">Raised by:
                <span>{{complaint.createdBy?complaint.createdBy?.name:'N.A.'}}</span>
            </a>

            <a class="call" *ngIf="complaint.createdBy?.mobile" href=tel:{{complaint.createdBy?.mobile}}>
                <mat-icon>call</mat-icon>
            </a>
        </div>
    </div>
</ng-template>